// Colors
$neon-green:#A4FFAF;
$grey:#817D92;
$very-dark-grey:#18171F;
$dark-grey:#24232C;
$off-white:#E6E5EA;
$error:#FF0000;

// Strength colors
$too-weak:#F64A4A;
$weak:#FB7C58;
$medium:#F8CD65;
$strong:$neon-green;


//Fonts

