// @use '../../utility/_colors.scss' as *;

@import '../../sass/main';

.password-gerenator{
    display: flex;
    @include align(center,center);
    flex-direction: column;
    position: relative;
    .title{
      font-size: clamp(1rem, 4vw, 1.5rem);
      line-height: 32px;
      color: $grey;
    }
    .container{
      max-width: 540px;
      background: $very-dark-grey;
  
      .display{
        max-height: 80px;
        display: flex;
        @include align(space-between,center);
        padding: 10px 1rem;
        background: $dark-grey;
        gap: 20vw;

        p{
          color: $off-white;
          min-width: 200px;
          font-size: clamp(1rem,4vw,2rem);
          line-height: 42.24px;
        }
        img{
          width: 21px;
          height: 24px;
          cursor: pointer;

          &:hover{
            fill:$off-white;
          }
        }
      }
  
      .main{
        margin-top: 2rem;
        background: $dark-grey;
        div{
          display: flex;
          @include align(space-between,center);
          padding: 1rem;
          p{
            line-height: 23.76px;
            color: $off-white;
          }
          .no-of-characters{
            font-size: 32px;
            line-height: 42.24px;
            color: $neon-green;
  
          }
        }
        input[type='range']{
          accent-color: $neon-green;
          outline: none;
          height: 5px;
          max-width: 350px;
          min-width: 200px;
          -webkit-appearance:none !important;
          border: none;
          background: $neon-green;
          overflow: visible;
          
          
          }
          input[type='range']::-webkit-slider-thumb{
           
            appearance: none  !important;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid black;
            background: $off-white;
            cursor: pointer;
          }

          input[type='range']::-webkit-slider-thumb:hover{
           border: 1px solid $off-white;
            background: black;
            
          }

          input[type='range']::-moz-range-thumb{
            appearance: none  !important;
            width: 25px;
            height: 25px;
            border-radius: 50%; 
            border: 2px solid black;
            background: $off-white;
            cursor: pointer;

          }
        
        }
        ul{
          list-style: none;
          align-self: flex-start;
          text-align: left;
          padding: 1rem;
  
          li{
            span{
              color: $off-white;
              line-height: 23.76px;
            }
            .input[type=checkbox]{
              accent-color: $neon-green;
            }
          }
        }
  
        .error{
          color: $error;
        }
  
        .strength{
          @include align(space-between,center);
          background: $very-dark-grey;
          display: flex;
          max-height: 72px;
          margin: 0 auto;
          max-width: 476px;
  
          p{
            line-height: 23.76px;
            color: $grey;
            transition: all .4s ease-in-out;
          }
  
          div{
            font-size: clamp(1rem,4vw ,1.5rem);
            line-height: 31.68px;
            color: $off-white;
            display: flex;
            @include align(center,center);
            gap: 3px;
            
            span{
              display: inline-block;
              text-align: center;
             
                span{
                  width: 8px;
                  height: 20px;
                  margin-right: 3px;
                  display: inline-block;
                  border: 1px solid $off-white;
                }
               }
              
             } 
                    }
  
        }
        .btn{
          background: $neon-green;
          border: 0;
          color: $dark-grey;
          cursor: pointer;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          height: 65px;
          line-height: 23.76px;
          margin-bottom: 2rem;
          margin-top: 2rem;
          min-width: 200px;
          outline: none;
  
          &:hover{
            background-color: transparent;
            color: $neon-green;
            border: 1px solid $neon-green;
          }
          &:hover span{
            color: $neon-green;
          }
          span{
            width: 11.11px;
            height: 12px;
            transform: rotate(180deg);
            color: $dark-grey;
          }
        }
      }
  
  @media screen and (max-width:768px){
    .password-gerenator{
      max-width: 100%;
      margin: 1rem;
      justify-content: flex-start;
      .title{
        font-size: 1.5rem;
      }
     
      .container{
        text-align: center;
        max-width: 100%;

        .main{
          .strength{
            max-width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width:320px){
    .password-gerenator{
      max-width: 100%;
      margin: 1rem;
      text-align: center;
      @include align(flex-start,center);
      .title{
        font-size: 1.5rem;
      }

      .container{
        text-align: center;
        max-width: 100%;
        min-width: 290px;
        .display{
          gap: 1rem;
        }
        .main{
          margin-top: 10px;
          .strength{
            max-width: 100%;
          }
        }
      }
      
    }
  }